
body {
    font-family: $font-family2;
    list-style-type: none;
    font-family:16px;
    line-height: 1.6;
    max-width:1440px;
}



header {
    font-family: $font-family1;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
    img {
        height: 20px;
    }
}

@media (prefers-color-scheme:dark){
    header img{
        color:white;
    }
}

nav {
    ul{
        list-style-type:none;
        @include fw-normal;
        margin-left: 2.5em;
         li{
             display: inline-block;
             margin-right: 1em;
             a{
                 display: inline-block;
                 text-decoration: none;
                 color:$p-color1;
             }
         }
    }
}
