@mixin fw-bold {
    font-weight: map-get($map: $font-weights, $key:'bold' );
}

@mixin fw-normal {
    font-weight: map-get($map: $font-weights, $key:'normal' );
}

@mixin left-align {
    text-align: left;
    margin-left:0;
}